<section id="projects" class="section">
  <h2>Проєкти</h2>
  <div class="projects">
    <div class="project">
      <img src="assets/images/project1.png" alt="Проєкт 1" />
      <div>
        <a href="https://github.com/dkjrz/sa-police-community" target="_blank" rel="noopener">
          <h3>Сайт для ігрового співтовариства</h3>
        </a>
        <p>Розробка адаптивного сайту з сучасним дизайном та інтеграцією Discord і Telegram-ботів.</p>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project2.png" alt="Проєкт 2" />
      <div>
        <a href="https://github.com/dkjrz/telegram-school-bot" target="_blank" rel="noopener">
          <h3>Telegram бот</h3>
        </a>
        <p>Розробка Telegram бота для автоматизації процесів у навчальному закладі, та інтеграція з базою даних для зберігання інформації про розклад дзвінків та уроків.</p>
      </div>
    </div>
  </div>
  <br />
  <div class="projects">
    <div class="project">
      <img src="assets/images/project3.png" alt="Проєкт 3" />
      <div>
        <a href="https://github.com/dkjrz/first-person-shooter-ursina" target="_blank" rel="noopener">
          <h3>Локальна гра</h3>
        </a>
        <p>Розробка ігор з використанням бібліотеки Ursina, включаючи графіку та анімацію персонажів та об'єктів.</p>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project4.png" alt="Проєкт 4" />
      <div>
        <a href="https://github.com/dkjrz/mixlab-figma-to-html" target="_blank" rel="noopener">
          <h3>Адаптивна верстка</h3>
        </a>
        <p>Розробка адаптивної верстки для різних пристроїв з використанням Flexbox та Grid.</p>
      </div>
    </div>
  </div>

  <br/>

    <!-- <div class="projects">
        <div class="project">
            <img src="assets/images/project5.png" alt="Проєкт 5" />
            <div>
                <a href="#" target="_blank" rel="noopener">
                <h3>Проєкт 5</h3>
                </a>
                <p>Опис проєкту 5, який демонструє мої навички у веб-розробці та дизайні.</p>
            </div>
        </div>
    </div> -->





</section>
